@import "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap";

select {
    width: 350px
}

html,
body {
    color: #fff;
    display: flex;
    font-family: 'Roboto Slab', serif;
    height: 100%;
    justify-content: center;
    margin: 0
}

.container {
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #b1bdff 100%);
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(138, 187, 243, 0.7);
    height: 400px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px
}

.label {
    padding-top: 20px
}

.dropdown {
    color: #000;
    height: 75px;
    left: 50%;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 400px;
    z-index: 10
}

.buttons {
    height: 110px;
    left: 50%;
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 250px
}

.btn {
    -webkit-user-select: none;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    margin: 1%;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    white-space: nowrap;
    will-change: box-shadow, transform
}

.btn:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px)
}

.btn:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px)
}

